a {
  text-decoration: none;
  color: black;
}
.card-funko:hover {
  transform: scale(1.06);
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
}
.card-funko {
  transition: all .2s ease-in-out;
}
.text-center {
  text-align: center;
}
