<div class="card" *ngIf="comicDetail">
  <div class="grid-container">
    <div class="image">
      <img
        src="{{ comicDetail.thumbnail.path }}.{{
          comicDetail.thumbnail.extension
        }}"
        alt="{{ comicDetail.title }}"
      />
    </div>
    <div class="title">
      <h1>{{ comicDetail.title }}</h1>
    </div>
    <div class="description">
      <h3>Description</h3>
      <hr />
      <p class="content">
        {{
          comicDetail.description != null
            ? comicDetail.description
            : "Sorry, description not available"
        }}
      </p>
    </div>
    <div class="authors">
      <h3>Creators</h3>
      <hr />
      <p class="content">
        <span *ngFor="let item of comicDetail.creators.items">
          <h5>
            {{ item.role | uppercase }}
            <span class="author">
              {{ item.name }}
            </span>
          </h5>
        </span>
      </p>
    </div>
    <div class="price">
      <h3>Add to cart</h3>
      <hr />
      <div class="content">
        <span>
        <h5>
          PRICE:
          <span class="cost">{{ comicDetail.prices[0].price | currency }}</span>
        </h5>
      </span>
      <div class="form-inline">
        <label for="quantity"><h5>QUANTITY:</h5></label>
        <div class="form">
          <button (click)="onDecrement()">-</button>
          <span>{{quantity}}</span>
          <button (click)="onIncrement()">+</button>
        </div>
      </div>
      </div>

      <button class="btn-black" (click)="addToCart()">
        <span class="material-icons" >
          shopping_cart
        </span>
      </button>
      <button class="btn-buy" (click)="buy()">
        Buy now
      </button>
    </div>
  </div>
</div>

<div class="card modal" [ngClass]="showModal? 'modal-show':''">
  <p>Producto agregado al carrito</p>
</div>

<div class="card modal" [ngClass]="showModalBuy? 'modal-show':''">
  <p>Thanks for your purchase</p>
</div>
