.card {
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.884);
  font-size: medium;
  text-align: left;
}
img {
  max-width: 300px;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% auto 15%;
  gap: 20px;
  width: 100%;
}
.grid-container > div {
  width: 100%;
}
.image {
  grid-column: 1 / 2;
  grid-row: 1 / 7;
  text-align: center;
}
.title {
  grid-column: 2 / 4;
}
.description {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
}
.authors {
  grid-column: 2 / 3;
  grid-row: 5 / 7;
}
.price {
  grid-column: 3 / 4;
  grid-row: 2 / 5;

  display: flex;
  flex-direction: column;
}

hr {
  background-color: red;
  padding: 0;
  margin: 6px 0 ;
  height: 2px;
  border: 0 none;
}

.content {
  font-size: 15px;
  margin: 10px !important;
}

.author {
  margin-left: 10px;
  font-size: small;
  font-weight: 400;
}

.cost {
  margin-left: 5px;
  font-weight: 400;
}

input {
  width: 50px;
}
label {
  font-weight: 500;
  font-family: 'Montserrat';
  font-size: medium;
  align-self: center;
  min-width: 100px;
}
.form-inline {
  flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
    .title {
        order: -1;
    }
}


.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.form span {
  border: none;
  width: 5vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form button {
  background-color: orangered;
  border-radius: 6px;
  color: white;
  border: none;
  width: 5vh;
  height: 5vh;
}

.form button:hover {
  background-color: rgb(211, 211, 8);
}

.form-inline {
  flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
  .form {
    width: max-content;
    margin: 0;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }
  .title {
    order: -1;
  }
}

.card.modal {
  display: block !important;
  position: fixed;
  top: 10vh;
  right: 0;
  z-index: 5;
  background-color: rgb(255, 234, 1);
  width: 300px;
  margin: 5px;
  opacity: 0%;
  transition: opacity .5s;
}

/* .modal {
  display: none;
} */

.modal-show {
  opacity: 100% !important;
}
