<div class="text-white">
  <h1>COMICS</h1>
  <span> Find your favorite Marvel comics here! </span>
</div>
<hr />
<div class="card" >
  <h3>FILTERS</h3>
  <form [formGroup]="comicsForm" (submit)="getComicsFilter()">
    <div class="form-inline">
      <label for="options" class="float-left">Year</label>
      <input
        type="text"
        class="float-right"
        (keypress)="($event.charCode >= 48 && $event.charCode <= 57)"
        maxLength="4"
        formControlName="year"
      />
    </div>
    <div class="form-inline">
      <label for="options">Date range</label>
      <select name="options" formControlName="dateRange">
        <option [ngValue]="" disabled></option>
        <option *ngFor="let date of dateRanges" [ngValue]="date.id">
          {{ date.name }}
        </option>
      </select>
    </div>
    <div class="form-inline">
      <label for="title">Title</label>
      <input type="text" name="title" formControlName="title" />
    </div>
    <button class="btn-black" type="submit">
      <span class="material-icons"> search </span>
    </button>
  </form>
</div>
<br /><br />
<div class="loading-yellow" *ngIf="load">
  LOADING . . .
</div>
<ng-container *ngIf="!load">
  <div class="comics-list" *ngIf="comics.length && !load">
    <app-card *ngFor="let comic of comics" [comic]="comic">
      <a href=""><h1>name</h1></a>
    </app-card>
  </div>
  <div class="loading-yellow" *ngIf="!comics.length">
    Sorry, we cannot find a match, please try again.
  </div>
</ng-container>
