<nav>
  <div class="logo">
    <img class="brand"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/2560px-Marvel_Logo.svg.png"
      alt="logoMarvel">
  </div>
  <div class="menu" [ngClass]="toggle?'menu-toggle':''">
    <ul class="links">
      <li [routerLink]="['/main/home']" [routerLinkActive]="['link-active']" (click)="toggleClass()">Home</li>
      <li [routerLink]="['/main/comics']" [routerLinkActive]="['link-active']" (click)="toggleClass()">Comics</li>
      <li [routerLinkActive]="['link-active']" (click)="toggleClass()">Funkos</li>
    </ul>
    <ul class="account-links">
      <li>
        <span class="material-icons" [routerLink]="['/main/cart']" >
          shopping_cart
        </span>
      </li>
      <li>
        <span class="material-icons">
          person
        </span>
      </li>
      
    </ul>
  </div>
  <div class="burger" (click)="toggleClass()" [ngClass]="toggle?'burger-toggle':''">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</nav>
<div class="banner"></div>
