<nav>
  <div class="logo">
    <img class="brand"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/2560px-Marvel_Logo.svg.png"
      alt="logoMarvel">
  </div>
  <div class="menu" [ngClass]="toggle?'menu-toggle':''">
    <ul class="links">
      <li [routerLink]="['/main/home']" [routerLinkActive]="['link-active']" (click)="toggleClass()">Home</li>
      <li [routerLink]="['/main/comics']" [routerLinkActive]="['link-active']" (click)="toggleClass()">Comics</li>
      <li [routerLink]="['/main/funkos']" [routerLinkActive]="['link-active']" (click)="toggleClass()">Funkos</li>
    </ul>
    <ul class="account-links">
      <li>
        <div>
          <span class="username">{{userName}}</span>
        </div>
      </li>
      <li>
        <span title="Shopping cart" class="material-icons" [routerLink]="['/main/cart']">
          shopping_cart
        </span>
      </li>
      <li>
        <div *ngIf="isLogged; else login">
          <span title="Logout" (click)="logout()" class="material-icons">
            logout
          </span>
        </div>
        <ng-template #login>
          <span title="Login" [routerLink]="['/login']" class="material-icons" #login>
            login
          </span>
        </ng-template>
      </li>
    </ul>
  </div>
  <div class="burger" (click)="toggleClass()" [ngClass]="toggle?'burger-toggle':''">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</nav>
<div class="banner"></div>
