<div class="text-white">
  <h1>MY SHOPPING CART</h1>
  <hr />
</div>
<div class="card prod">
  <h2>YOUR PRODUCTS</h2>
  <div *ngFor="let product of products">
    <div class="content">
      <img src="{{ product.image }}" alt="" />
      <span>
        <b>{{ product.name }}</b>
      </span>
      <span><b>Quantity:</b> {{ product.quantity }}</span>
      <span><b>Price:</b> {{ product.price | currency }}</span>
      <button class="btn-red">
        <span class="material-icons">delete</span>
      </button>
    </div>
    <hr class="hr-black" />
  </div>
  <hr class="hr-black" />
  <div class="form-inline">
    <h2>SUBTOTAL ( {{ products.length }} products ) : {{total | currency}}</h2>
    <button class="btn-buy">BUY NOW</button>
  </div>
</div>
<hr />
<div class="card card-shipping">
  <h2>SHIPPING INFORMATION</h2>
  <form class="card-content-shipping" [formGroup]="shippingForm" (submit)="addAddress()">
    <div class="form-inline">
      <div class="margin">
        <input type="text" placeholder="Name" formControlName="name" />
          <div class="errors" *ngIf="shippingFormControl('name').invalid">
            <div *ngIf="oneShippingFormControl('name', 'required')
            || oneShippingFormControl('name', 'minlength')">
                Field required (Minimum 5 characters)
            </div>
            <div *ngIf="oneShippingFormControl('name', 'pattern')">
              Only alphabetic characters.
            </div>
          </div>
      </div>
      <div class="margin">
        <input type="text" placeholder="City" formControlName="city" />
        <div class="errors" *ngIf="shippingFormControl('city').invalid">
          <div *ngIf="oneShippingFormControl('city', 'required')
          || oneShippingFormControl('city', 'minlength')">
              Field required (Minimum 2 characters)
          </div>
        </div>
      </div>
      <div>
        <input type="text" placeholder="State" formControlName="state" />
        <div class="errors" *ngIf="shippingFormControl('state').invalid">
          <div *ngIf="oneShippingFormControl('state', 'required')
          || oneShippingFormControl('state', 'minlength')">
              Field required (Minimum 2 characters)
          </div>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="margin">
        <input type="text" placeholder="Address" formControlName="address" />
        <div class="errors" *ngIf="shippingFormControl('address').invalid">
          <div *ngIf="oneShippingFormControl('address', 'required')
          || oneShippingFormControl('address', 'minlength')">
              Field required (Minimum 5 characters)
          </div>
        </div>
      </div>
      <div class="margin">
        <input
        type="text"
        placeholder="ZipCode"
        (keypress)="($event.charCode >= 48 && $event.charCode <= 57)"
        maxlength="10"
        minlength="8"
        formControlName="zipcode"
        />
        <div class="errors" *ngIf="shippingFormControl('zipcode').invalid">
          <div *ngIf="oneShippingFormControl('zipcode', 'required')
          || oneShippingFormControl('zipcode', 'minlength')">
              Field required (Min 8, Max 10 characters)
          </div>
        </div>
      </div>
      <div>
        <input type="text" placeholder="Details" formControlName="details" />
      </div>
    </div>
    <button class="btn-black" type="submit">Add Address</button>
  </form>
</div>
