.product {
  justify-content: space-between;
  height: 20vh;
  flex-wrap: wrap;
}

.details {
  display: flex;
  flex-grow: 1;
  margin: 0 0 0 10%;
  justify-content: space-between;
}

.product img {
  max-width: 20vh;
}

@media only screen and (max-width: 460px) {
  .product {
    height: max-content;
    justify-content: center;
  }

  .details {
    flex-direction: column;
    min-width: max-content;
    align-items: center;
    height: 15vh;
    justify-content: space-evenly;
  }
}
