.product {
  justify-content: space-between;
  height: 25vh;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.details {
  display: flex;
  flex-grow: 1;
  margin: 0 0 0 10%;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
}
.prod {
  display: inline-block;
  width: 100%;
}
.content {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  img {
    width: 70px;
  }
  span {
    padding: 10px;
    align-self: center;
    width: 100%;
    .title {
      text-align:left;
    }
  }
}
.hr-black {
  background-color: black;
  height: 2px;
  margin: 5px 0;
}

.btn-red {
  height: auto;
  margin: 0;
  align-self: right;
}

.card-shipping {
  display: block;
  height: max-content;
  flex-flow: column;
  margin: auto;
  justify-content: center;
}

.card-content-shipping {
  display: flex;
  flex-flow: column;
  text-align: left;
  justify-content: center;
}

input {
  width: 95%;
  margin: 8px 0px;
}

.form-inline {
  width: 100%;
  div {
    width: 100%;
  }
}

.margin input {
  margin-right: 20px;
}

.btn-buy {
  padding: 5px;
}

.btn-black {
  max-width: fit-content;
  align-self: center;
  padding: 5px;
}

.product img {
  max-width: 100px;
  height: 100%;
}

@media only screen and (max-width: 650px) {
  .product {
    height: max-content;
    justify-content: center;
  }

  .details {
    flex-direction: column;
    min-width: max-content;
    justify-content: space-evenly;
  }
  .prod {
    height: max-content;
  }
  .content{
    flex-direction: column;
    button {
      align-self: right;
    }
  }
}

@media only screen and (max-width: 900px) {
  .form-inline {
    flex-direction: column;
  }
}
