/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat"; /*
    position: absolute;
    display: block;
    width: 100%;
    height: max-content;
    min-width: min-content; */
  height: 100%;
  width: 100%;
  margin: 0;
  background: url("assets/img/backBN.jpg") no-repeat center fixed;
  background-size: cover;
}
main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
.main-container {
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
img {
  width: 100%;
}

.block-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}

.image-rounded {
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.body-background {
  /*
    position: relative;
    background-color:rgba(0, 0, 0, 0.65);
    margin-bottom: 100px; */
}

.footer {
  background-color: black;
  color: white;
  min-height: 100px;
  margin-top: -100px;
  clear: both;
  width: 100%;
  bottom: 0;
}

button {
  font-family: "Montserrat";
  font-weight: bold;
  cursor: pointer;
}

.btn-buy {
  background-color: rgb(246, 246, 0);
  height: 40px;
  border-radius: 5px;
  margin: 10px;
  font-size: medium;
  border-color: transparent;
}

.btn-black {
  background-color: black;
  color: white;
  height: 40px;
  border-radius: 5px;
  border-color: transparent;
  margin: 10px;
  font-size: medium;
  transition: all .2s ease-in-out;
}
.btn-black:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 3px 3px #999;
}

.btn-red {
  background-color: red;
  color: white;
  height: 40px;
  border-radius: 5px;
  border-color: transparent;
  margin: 10px;
  font-size: medium;
}

.btn-black:hover {
  background-color: #333333;
}

.btn-buy:hover {
  background-color: rgba(208, 208, 0, 0.975);
}

.btn-red:hover {
  background-color: rgb(162, 0, 0);
}

.container {
  padding: 20px;
  margin-bottom: 100px;
}

.card {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 10px;
  text-align: justify;
  padding: 20px;
  font-size: small;
  font-family: "Montserrat";
}

hr {
  border-width: 0;
  background-color: white;
  height: 4px;
  margin: 20px 0px;
}

.text-white {
  color: white;
}

.logo-centered {
  display: flex;
  margin: auto;
  background-color: black;
  justify-content: center;

  img {
      margin: 20px;
      width: 200px;
      height: auto;
  }
}

input, select {
  font-family: 'Montserrat';
  font-size: medium;
  height: 30px;
  width: 100%;
  margin: 8px 5px;
  border: 0;
  border-bottom: 2px solid red;
  outline: none;
}
.errors {
  color: red;
  padding-left: 10px;
  font-size: smaller;
}

.form-inline {
  display: inline-flex;
  text-align: justify;
}

.loading.animate {
  animation: spin .6s infinite linear;
}

.loading {
  width: 5vh;
  image-resolution: 1px;
  image-rendering: optimizeSpeed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-red {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 700;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  width: 100%;
  min-height: 100px;
}
.loading-yellow {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 700;
  background-color: rgba(255, 255, 92, 0.6);
  color: black;
  width: 100%;
}

/*************************************************************************************************/
/*start CARD FLIP*/
.card-comic {
  height: 100%;
  flex-direction: column;
  justify-content:space-between;
}
.card-funko {
  height: 100%;
  flex-direction: column;
  justify-content:space-between;
}
