.card-home {
    background-color: rgba(255, 255, 255, 0.884);
    border-radius: 0 !important;
    margin-bottom: 30px;
    border-right: 8px solid red;
    border-left: 8px solid red;
    display: flex;
    justify-content: space-around !important;
    flex-wrap: wrap;
}
.card-home-img {
    align-items: center;
    justify-content: center;
    display: flex;
    img {
        max-width: 450px;
        box-shadow: 8px 8px 10px 8px #999;
    }
}
.card-home-content {
    margin: 5px;
    max-width: 500px;
}
.content-title {
    font-size: 50px;
    font-weight: 600;
    max-width: 50%;
}
.content-text {
    font-size: 18px;
}
.btn-home {
    max-width: 250px;
    margin: 0%;
    padding: 5px;
}

.card-home-bottom {
    text-align: end;
}

.btn-black {
  height: auto;
}

@media only screen and (max-width: 512px) {
    .content-title {
        font-size: 30px;
        font-weight: 600;
        max-width: 50%;
    }
    .content-text {
        font-size: 12px;
    }
}
